
/* Para el carousel del home */
.blur-load::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 2.5s infinite;    
}

.blur-load.loaded::before {
    animation: none;   
}

.blur-load {
    position: relative;
    background-size: cover;
    background-position: center;
}

.blur-load.loaded > img {
    opacity: 1;
}

.blur-load > img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

@keyframes pulse {
    0%{
        background-color: rgba(255, 255, 255, 0);
    }
    50%{
        background-color: rgba(255, 255, 255, .2);
    }
    100%{
        background-color: rgba(255, 255, 255, 0);
    }
}