
.dropdown-custom {

    .btn-light {
      background-color: transparent;
      color: #000;
      padding: 0 5px;
      font-size: 14px;
  
      &.dropdown-toggle {
        padding: 0 5px;
      }
    }
  
    .dropdown-menu {
      background-color: #f8f9fa;
      border-radius: 0.25rem;
      border: 1px solid rgba(0, 0, 0, 0.15);
  
      .dropdown-item {
        color: #000;
  
        &:hover {
          background-color: #e9ecef;
          color: #000;
        }
      }
    }
  
    .dropdown-button {
      .dropdown-item {
        color: #000;
  
        &:hover {
          background-color: #e9ecef;
          color: #000;
        }
      }
    }
  }
  



.dropdown-button-custom {
    
    .btn {
      background-color: transparent;
      color: #000;
      padding: 0 5px;
      margin-left: 11px;
      font-size: 16px;
      border: none;

      &:hover, &:focus {
        background-color: #f8f9fa;
        color: #000;
      }
    }
  
    .dropdown-menu {
      background-color: #f8f9fa;
      border-radius: 0.25rem;
    //   border: 1px solid rgba(0, 0, 0, 0.15);
  
      .dropdown-item {
        color: #000;
  
        &:hover, &:focus {
          background-color: #e9ecef;
          color: #000;
        }
      }
    }
  }
  

.offcanvas-body {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 2px solid #f1f1f1; /* Espacio alrededor de la barra */
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  
}