
.section-gp {
    background-color: #e7e7e7;
    margin-top: 90px;
}
.section-container-gp {
    background-color: #fff;
    margin: 0 30px;
}
.div-para-espacio{
    height: 40px;
    background-color: #e7e7e7;
}

.container-modelos-gp {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color: #000;
    /* font-family: 'Quicksand', sans-serif; */
}
.contenedor-cruz-volver-atras {
    position: relative;
    width: 100%;
}
.cruz-volver-atras {
    position: absolute;
    left: 1%;
}
.section-volver-a {
    text-decoration: none;
    color: #000;
    border: none;
    background-color: inherit;
}
.titulo-gp-p {
    font-size: 35px;
    margin: 8px;
    margin-bottom: 18px;
}
.texto-gp-p {
    font-size: 18px;
    margin: 0;   
}
.section-span-precio {
    color: #000;
    display: flex;
    justify-content: center;
    padding: 8px;
    padding-top: 0;
    margin-bottom: 10px;
}
.span-precio-gp {
    margin-top: 20px;
    font-size: 20px;
}
.span-precio{
    font-weight: 600;
}
.comprar-producto {
    border: none;
    /* margin: 0 auto; */
    background-color: #000;
    /* padding: 12px 20px; */
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 130px;
    height: 60px;
    border-radius: 3px;
}
.texto-producto-carrito{
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    width: 130px;
    height: 60px;
    border-radius: 3px;
}
.container-img {
    background-color: #e7e7e7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15px;
    margin-bottom: 15px;
    border-radius: 6px;
}
.primera-imgs-modelos {
    max-width: 300px;
    height: 300px;
    margin: 20px;
    margin-bottom: 0;
}
.imgs-chicas {
    width: 100%;
    display: flex;
    justify-content: right;
    /* background-color: #fff; */
}
.imgs-modelos {
    /* border-radius: 6px; */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 1px #d1d1d1;
    cursor: pointer;
    background-color: #fff;
}
.imgs-modelos img {
    object-fit: cover;
    width: 80px;
    height: 80px;
}
.div-para-espacio2 {
    height: 1px;
    background-color: #e7e7e7;
}
.container-compartir {
    color: #000;
    /* font-family: 'Quicksand', sans-serif; */
    background-color: #e7e7e7;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.section-volver-div {
    color: #000;
}
.section-volver-p {
    margin: 20px 0;
    font-size: 15px;
}
.section-volver-p:hover,
.section-volver-p:focus {
    text-decoration: underline;
    transform: translateY(-2px);
    transition-duration: .3s;
}

.section-volver-a {
    text-decoration: none;
    color: #000;
}
.imgs-chicas {
    justify-content: flex-start;
}

@media screen and (max-width: 400px) {
    .section-volver-p{
        margin-left: 30px;
    }
}

@media screen and (min-width: 630px) {
    .imgs-chicas {
        justify-content: flex-end;
    }
}

@media screen and (min-width: 900px) {
    .section-gp {
        margin-top: 80px;
        padding: 50px 25px;
        padding-bottom: 0;
        background-color: #e7e7e7;
    }
    .section-container-gp {
        background-color: #fff;
        padding: 15px 30px;
        margin-bottom: 0;
        border-radius: 6px;
    }
    .div-para-espacio {
        display: none;
    }
    .container-modelos-gp {
        padding: 0;
        margin-left: 20px;
    }
    .section-volver-a {
        text-decoration: none;
        color: #000;
    }
    .titulo-gp-p {
        font-size: 40px;
    }
    .texto-gp-p {
        font-size: 20px;
        margin: 0 auto;
        width: 60%;
    }
    .span-precio-gp {
        margin-top: 18px;
        font-size: 25px;
    } 
    .comprar-producto{
        background-color:#000;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .container-img {
        background-color: #e7e7e7;
        box-shadow: none;
        border-radius: 6px;
    }
    .imgs-chicas {
        justify-content: right;
    }
    .div-para-espacio2 {
        display: none;
    }
    .container-compartir {
        margin: 0;
        padding: 0 30px;
        display: flex;
        width: 100%;
        position: relative;
    }
    .section-volver-div {
        position: absolute;
        left: 1%;
    }
    .section-volver-p {
        margin: 20px;
    }
    .section-volver-a {
        text-decoration: none;
        color: #000;
    }
}


@media screen and (min-width: 1208px) {
    .section-gp {
        margin-top: 0px;
        /* height: 70vh; */
        position: relative;
    }
    .section-container-gp {
        margin: 0 auto;
        /* margin-bottom: 50px; */
        width: 90%;
        background-color: #fff;
        padding: 0;
        border-radius: 6px;
        display: flex;
        justify-content: center;   
    }
    .container-modelos-gp {
        margin: 15px;
    }
    .section-span-precio {
        font-size: 20px;
    }
    .comprar-producto{
        padding: 0;
    }
    .container-img {
        display: flex;
        flex-wrap: wrap;
        background-color: #e7e7e7;
        box-shadow: none;
        border-radius: 6px;
        padding: 0;
        margin-top: 15px;
    }
    .imgs-chicas {
        justify-content: flex-start;
    }
    .imgs-modelos {
        object-fit: cover;
        height: 100px;
        width: 100px;
        border-radius: 6px;
    }
    .container-compartir {
        width: 91%;
        /* position: absolute; */
        bottom: 0;
        left: 4%;
    }   
}

.color-b { 
    color: #000;
}