



  
  /* Estilos Generales */
  .payment-section {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .payment-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
  }
  
  .payment-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .payment-option {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .payment-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .option-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
  }
  
  .option-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
  }
  
  .bank-details {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
  }
  
  .bank-details p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #333;
  }
  
  .option-note {
    font-size: 0.9rem;
    color: #777;
    margin-top: 10px;
  }
  
  .email-link {
    color: #e6a8ca;
    text-decoration: none;
    font-weight: bold;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  
  /* Media Query para Pantallas Pequeñas */
  @media (max-width: 768px) {
    .payment-section{
      padding: 20px 0;
    }
    .payment-options {
      width: 100%; /* Ocupa todo el ancho disponible */
    }
  
    .payment-option {
      padding: 15px; /* Reduce el padding para pantallas pequeñas */
    }
  
    .option-title {
      font-size: 1.2rem; /* Reduce el tamaño del título */
    }
  
    .option-description {
      font-size: 0.9rem; /* Reduce el tamaño del texto */
    }
  
    .bank-details p {
      font-size: 0.8rem; /* Reduce el tamaño de los detalles bancarios */
    }
  
    .option-note {
      font-size: 0.8rem; /* Reduce el tamaño de la nota */
    }
  }

// #divMedioDePago {
//     padding: 20px;
//     border: 1px solid #ddd;
//     border-radius: 8px;
//     background-color: #f9f9f9;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//     max-width: 800px;
//     margin: auto;
  
//     @media (max-width: 600px) {
//       padding: 15px;
//     }
  
//     fieldset {
//       border: none;
//       padding: 0;
  
//       .MuiFormControlLabel-root {
//         margin-bottom: 10px;
//         color: #333;
//         font-size: 16px;
//         font-weight: 500;
//       }
  
//       .MuiRadio-root {
//         color: #000;
  
//         &.Mui-checked {
//           color: #dab5d6;
//         }
//       }
//     }
  
//     .payment-options {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       margin-top: 20px;
  
//       @media (max-width: 600px) {
//         flex-direction: column;
//       }
  
//       .pay-methods-display,
//       .div-img-qr {
//         display: none;
  
//         &.show {
//           display: block;
//         }
  
//         label {
//           display: block;
//           margin: 5px 0;
//           color: #555;
//           font-size: 19px;
//           text-align: center;
//         }
  
//         img {
//           max-width: 200px;
//           height: auto;
//           border-radius: 8px;
//           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//         }
//       }
//     }
//   }
  




