
html {
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
      }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        border: 2px solid #f1f1f1; /* Espacio alrededor de la barra */
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.mainBody {
    margin-top: 80px;
}

@media (max-width: 991.98px) {
    .mainBody {
        margin-top: 115px;
    }   
}

