

.custom-pagination {
    justify-content: center;
    margin: 20px 0;
  
    .page-item {
      &:hover,
      &:focus {
        .page-link {
          color: #fff;
        }
      }
  
      &.active {
        .page-link {
          color: #fff;
            background-color: #000;
            border: 1px solid #000;
        }
      }
  
      .page-link {
        color: #000;
        &:hover,
        &:focus {
          color: #9c9c9c;
        }
      }
    }
  }